In [1]:
pip install imbalanced-learn==0.9.0

Requirement already satisfied: imbalanced-learn==0.9.0 in c:\users\danny\anaconda3\envs\pythondata\envs\mlenv\lib\site-packages (0.9.0)
Requirement already satisfied: numpy>=1.14.6 in c:\users\danny\anaconda3\envs\pythondata\envs\mlenv\lib\site-packages (from imbalanced-learn==0.9.0) (1.21.5)
Requirement already satisfied: scikit-learn>=1.0.1 in c:\users\danny\anaconda3\envs\pythondata\envs\mlenv\lib\site-packages (from imbalanced-learn==0.9.0) (1.0.2)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\danny\anaconda3\envs\pythondata\envs\mlenv\lib\site-packages (from imbalanced-learn==0.9.0) (2.2.0)
Requirement already satisfied: joblib>=0.11 in c:\users\danny\anaconda3\envs\pythondata\envs\mlenv\lib\site-packages (from imbalanced-learn==0.9.0) (1.1.0)
Requirement already satisfied: scipy>=1.1.0 in c:\users\danny\anaconda3\envs\pythondata\envs\mlenv\lib\site-packages (from imbalanced-learn==0.9.0) (1.7.3)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import warnings
warnings.filterwarnings('ignore')

In [3]:
import numpy as np
import pandas as pd
from pathlib import Path
from collections import Counter

In [4]:
from sklearn.metrics import balanced_accuracy_score
from sklearn.metrics import confusion_matrix
from imblearn.metrics import classification_report_imbalanced

# Read the CSV and Perform Basic Data Cleaning

In [5]:
# https://help.lendingclub.com/hc/en-us/articles/215488038-What-do-the-different-Note-statuses-mean-

columns = [
    "loan_amnt", "int_rate", "installment", "home_ownership",
    "annual_inc", "verification_status", "issue_d", "loan_status",
    "pymnt_plan", "dti", "delinq_2yrs", "inq_last_6mths",
    "open_acc", "pub_rec", "revol_bal", "total_acc",
    "initial_list_status", "out_prncp", "out_prncp_inv", "total_pymnt",
    "total_pymnt_inv", "total_rec_prncp", "total_rec_int", "total_rec_late_fee",
    "recoveries", "collection_recovery_fee", "last_pymnt_amnt", "next_pymnt_d",
    "collections_12_mths_ex_med", "policy_code", "application_type", "acc_now_delinq",
    "tot_coll_amt", "tot_cur_bal", "open_acc_6m", "open_act_il",
    "open_il_12m", "open_il_24m", "mths_since_rcnt_il", "total_bal_il",
    "il_util", "open_rv_12m", "open_rv_24m", "max_bal_bc",
    "all_util", "total_rev_hi_lim", "inq_fi", "total_cu_tl",
    "inq_last_12m", "acc_open_past_24mths", "avg_cur_bal", "bc_open_to_buy",
    "bc_util", "chargeoff_within_12_mths", "delinq_amnt", "mo_sin_old_il_acct",
    "mo_sin_old_rev_tl_op", "mo_sin_rcnt_rev_tl_op", "mo_sin_rcnt_tl", "mort_acc",
    "mths_since_recent_bc", "mths_since_recent_inq", "num_accts_ever_120_pd", "num_actv_bc_tl",
    "num_actv_rev_tl", "num_bc_sats", "num_bc_tl", "num_il_tl",
    "num_op_rev_tl", "num_rev_accts", "num_rev_tl_bal_gt_0",
    "num_sats", "num_tl_120dpd_2m", "num_tl_30dpd", "num_tl_90g_dpd_24m",
    "num_tl_op_past_12m", "pct_tl_nvr_dlq", "percent_bc_gt_75", "pub_rec_bankruptcies",
    "tax_liens", "tot_hi_cred_lim", "total_bal_ex_mort", "total_bc_limit",
    "total_il_high_credit_limit", "hardship_flag", "debt_settlement_flag"
]

target = ["loan_status"]

In [6]:
# Load the data
file_path = Path('LoanStats_2019Q1.csv')
df = pd.read_csv(file_path, skiprows=1)[:-2]
df = df.loc[:, columns].copy()

# Drop the null columns where all values are null
df = df.dropna(axis='columns', how='all')

# Drop the null rows
df = df.dropna()

# Remove the `Issued` loan status
issued_mask = df['loan_status'] != 'Issued'
df = df.loc[issued_mask]

# convert interest rate to numerical
df['int_rate'] = df['int_rate'].str.replace('%', '')
df['int_rate'] = df['int_rate'].astype('float') / 100


# Convert the target column values to low_risk and high_risk based on their values
x = {'Current': 'low_risk'}   
df = df.replace(x)

x = dict.fromkeys(['Late (31-120 days)', 'Late (16-30 days)', 'Default', 'In Grace Period'], 'high_risk')    
df = df.replace(x)

df.reset_index(inplace=True, drop=True)

df.head()

,loan_amnt,int_rate,installment,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,dti,...,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,hardship_flag,debt_settlement_flag
0,10500.0,0.1719,375.35,RENT,66000.0,Source Verified,Mar-2019,low_risk,n,27.24,...,85.7,100.0,0.0,0.0,65687.0,38199.0,2000.0,61987.0,N,N
1,25000.0,0.2000,929.09,MORTGAGE,105000.0,Verified,Mar-2019,low_risk,n,20.23,...,91.2,50.0,1.0,0.0,271427.0,60641.0,41200.0,49197.0,N,N
2,20000.0,0.2000,529.88,MORTGAGE,56000.0,Verified,Mar-2019,low_risk,n,24.26,...,66.7,50.0,0.0,0.0,60644.0,45684.0,7500.0,43144.0,N,N
3,10000.0,0.1640,353.55,RENT,92000.0,Verified,Mar-2019,low_risk,n,31.44,...,100.0,50.0,1.0,0.0,99506.0,68784.0,19700.0,76506.0,N,N
4,22000.0,0.1474,520.39,MORTGAGE,52000.0,Not Verified,Mar-2019,low_risk,n,18.76,...,100.0,0.0,0.0,0.0,219750.0,25919.0,27600.0,20000.0,N,N

# Split the Data into Training and Testing

In [7]:
# Create our features
X = X = df.drop(columns='loan_status')

X = pd.get_dummies(X)

# Create our target
y = df['loan_status']
X.head()

,loan_amnt,int_rate,installment,annual_inc,dti,delinq_2yrs,inq_last_6mths,open_acc,pub_rec,revol_bal,...,issue_d_Mar-2019,pymnt_plan_n,initial_list_status_f,initial_list_status_w,next_pymnt_d_Apr-2019,next_pymnt_d_May-2019,application_type_Individual,application_type_Joint App,hardship_flag_N,debt_settlement_flag_N
0,10500.0,0.1719,375.35,66000.0,27.24,0.0,0.0,8.0,0.0,1609.0,...,1,1,0,1,0,1,1,0,1,1
1,25000.0,0.2000,929.09,105000.0,20.23,0.0,0.0,17.0,1.0,18368.0,...,1,1,0,1,0,1,1,0,1,1
2,20000.0,0.2000,529.88,56000.0,24.26,0.0,0.0,8.0,0.0,13247.0,...,1,1,0,1,0,1,1,0,1,1
3,10000.0,0.1640,353.55,92000.0,31.44,0.0,1.0,10.0,1.0,17996.0,...,1,1,0,1,0,1,1,0,1,1
4,22000.0,0.1474,520.39,52000.0,18.76,0.0,1.0,14.0,0.0,9091.0,...,1,1,0,1,0,1,1,0,1,1

In [8]:
X.describe()

,loan_amnt,int_rate,installment,annual_inc,dti,delinq_2yrs,inq_last_6mths,open_acc,pub_rec,revol_bal,...,issue_d_Mar-2019,pymnt_plan_n,initial_list_status_f,initial_list_status_w,next_pymnt_d_Apr-2019,next_pymnt_d_May-2019,application_type_Individual,application_type_Joint App,hardship_flag_N,debt_settlement_flag_N
count,68817.000000,68817.000000,68817.000000,6.881700e+04,68817.000000,68817.000000,68817.000000,68817.000000,68817.000000,68817.000000,...,68817.000000,68817.0,68817.000000,68817.000000,68817.000000,68817.000000,68817.000000,68817.000000,68817.0,68817.0
mean,16677.594562,0.127718,480.652863,8.821371e+04,21.778153,0.217766,0.497697,12.587340,0.126030,17604.142828,...,0.177238,1.0,0.123879,0.876121,0.383161,0.616839,0.860340,0.139660,1.0,1.0
std,10277.348590,0.048130,288.062432,1.155800e+05,20.199244,0.718367,0.758122,6.022869,0.336797,21835.880400,...,0.381873,0.0,0.329446,0.329446,0.486161,0.486161,0.346637,0.346637,0.0,0.0
min,1000.000000,0.060000,30.890000,4.000000e+01,0.000000,0.000000,0.000000,2.000000,0.000000,0.000000,...,0.000000,1.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.0,1.0
25%,9000.000000,0.088100,265.730000,5.000000e+04,13.890000,0.000000,0.000000,8.000000,0.000000,6293.000000,...,0.000000,1.0,0.000000,1.000000,0.000000,0.000000,1.000000,0.000000,1.0,1.0
50%,15000.000000,0.118000,404.560000,7.300000e+04,19.760000,0.000000,0.000000,11.000000,0.000000,12068.000000,...,0.000000,1.0,0.000000,1.000000,0.000000,1.000000,1.000000,0.000000,1.0,1.0
75%,24000.000000,0.155700,648.100000,1.040000e+05,26.660000,0.000000,1.000000,16.000000,0.000000,21735.000000,...,0.000000,1.0,0.000000,1.000000,1.000000,1.000000,1.000000,0.000000,1.0,1.0
max,40000.000000,0.308400,1676.230000,8.797500e+06,999.000000,18.000000,5.000000,72.000000,4.000000,587191.000000,...,1.000000,1.0,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.0,1.0

In [9]:
# Check the balance of our target values
y.value_counts()

low_risk     68470
high_risk      347
Name: loan_status, dtype: int64

In [10]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1, stratify=y)

# Ensemble Learners

In this section, you will compare two ensemble algorithms to determine which algorithm results in the best performance. You will train a Balanced Random Forest Classifier and an Easy Ensemble AdaBoost classifier . For each algorithm, be sure to complete the folliowing steps:

1. Train the model using the training data. 
2. Calculate the balanced accuracy score from sklearn.metrics.
3. Print the confusion matrix from sklearn.metrics.
4. Generate a classication report using the `imbalanced_classification_report` from imbalanced-learn.
5. For the Balanced Random Forest Classifier onely, print the feature importance sorted in descending order (most important feature to least important) along with the feature score

Note: Use a random state of 1 for each algorithm to ensure consistency between tests

### Balanced Random Forest Classifier

In [11]:
# Resample the training data with the BalancedRandomForestClassifier
from imblearn.ensemble import BalancedRandomForestClassifier
brfc = BalancedRandomForestClassifier(n_estimators=100, random_state=1)
brfc.fit(X_train, y_train)

BalancedRandomForestClassifier(random_state=1)

In [12]:
# Calculated the balanced accuracy score
y_pred = brfc.predict(X_test)
balanced_accuracy_score(y_test, y_pred)

0.7877672625306695

In [13]:
# Display the confusion matrix
cm = confusion_matrix(y_test, y_pred)

In [14]:
# Print the imbalanced classification report
print(classification_report_imbalanced(y_test, y_pred))

                   pre       rec       spe        f1       geo       iba       sup

  high_risk       0.04      0.67      0.91      0.07      0.78      0.59        87
   low_risk       1.00      0.91      0.67      0.95      0.78      0.62     17118

avg / total       0.99      0.91      0.67      0.95      0.78      0.62     17205

In [16]:
# List the features sorted in descending order by feature importance
pd.set_option("display.max_rows", None, "display.max_columns", None)

# Define importances and columns
importances = brfc.feature_importances_
cols = X.columns

# Store in a DataFrame
feature_importances_df = pd.DataFrame({'feature':cols, 'importance': importances})
feature_importances_df.head()
# Sort the DataFrame
feature_importances_df.sort_values('importance', ascending=False)

                                feature  importance
15                      total_rec_prncp    0.073767
16                        total_rec_int    0.063903
14                      total_pymnt_inv    0.060733
13                          total_pymnt    0.058112
20                      last_pymnt_amnt    0.049518
1                              int_rate    0.024581
11                            out_prncp    0.020399
4                                   dti    0.018626
35                           max_bal_bc    0.018379
84                     issue_d_Jan-2019    0.017480
2                           installment    0.016987
3                            annual_inc    0.016613
44                              bc_util    0.016232
53                mths_since_recent_inq    0.015822
74                       total_bc_limit    0.015386
12                        out_prncp_inv    0.015337
42                          avg_cur_bal    0.015066
85                     issue_d_Mar-2019    0.014926
9                             revol_bal    0.014924
48                 mo_sin_old_rev_tl_op    0.014583
73                    total_bal_ex_mort    0.014282
25                          tot_cur_bal    0.014238
47                   mo_sin_old_il_acct    0.014067
31                         total_bal_il    0.013514
43                       bc_open_to_buy    0.013344
32                              il_util    0.013139
72                      tot_hi_cred_lim    0.013106
36                             all_util    0.013009
75           total_il_high_credit_limit    0.012104
61                        num_rev_accts    0.011928
37                     total_rev_hi_lim    0.011195
52                 mths_since_recent_bc    0.010728
68                       pct_tl_nvr_dlq    0.010486
10                            total_acc    0.010480
30                   mths_since_rcnt_il    0.010434
49                mo_sin_rcnt_rev_tl_op    0.010171
62                  num_rev_tl_bal_gt_0    0.009901
0                             loan_amnt    0.009829
40                         inq_last_12m    0.009709
58                            num_bc_tl    0.009394
60                        num_op_rev_tl    0.009391
50                       mo_sin_rcnt_tl    0.008883
55                       num_actv_bc_tl    0.008287
39                          total_cu_tl    0.007949
69                     percent_bc_gt_75    0.007945
63                             num_sats    0.007842
56                      num_actv_rev_tl    0.007814
7                              open_acc    0.007760
41                 acc_open_past_24mths    0.007421
38                               inq_fi    0.007405
59                            num_il_tl    0.007340
29                          open_il_24m    0.006876
57                          num_bc_sats    0.006785
27                          open_act_il    0.006660
34                          open_rv_24m    0.006600
51                             mort_acc    0.006394
17                   total_rec_late_fee    0.006391
67                   num_tl_op_past_12m    0.006066
26                          open_acc_6m    0.006005
89                next_pymnt_d_Apr-2019    0.005920
33                          open_rv_12m    0.005413
28                          open_il_12m    0.005249
83                     issue_d_Feb-2019    0.004871
90                next_pymnt_d_May-2019    0.004803
6                        inq_last_6mths    0.004756
5                           delinq_2yrs    0.004524
54                num_accts_ever_120_pd    0.003903
24                         tot_coll_amt    0.003790
78                   home_ownership_OWN    0.002085
77              home_ownership_MORTGAGE    0.002006
81  verification_status_Source Verified    0.001984
82         verification_status_Verified    0.001879
80     verification_status_Not Verified    0.001854
79                  home_ownership_RENT    0.001700
70                 pub_rec_bankruptcies    0.001521
8                               pub_rec    0.001419
87                initial_list_status_f    0.001388
91          application_type_Individual    0.001239
66                   num_tl_90g_dpd_24m    0.001105
88                initial_list_status_w    0.000805
92           application_type_Joint App    0.000710
21           collections_12_mths_ex_med    0.000695
76                   home_ownership_ANY    0.000133
18                           recoveries    0.000000
71                            tax_liens    0.000000
19              collection_recovery_fee    0.000000
65                         num_tl_30dpd    0.000000
64                     num_tl_120dpd_2m    0.000000
86                         pymnt_plan_n    0.000000
22                          policy_code    0.000000
23                       acc_now_delinq    0.000000
46                          delinq_amnt    0.000000
45             chargeoff_within_12_mths    0.000000
93                      hardship_flag_N    0.000000
94               debt_settlement_flag_N    0.000000

### Easy Ensemble AdaBoost Classifier

In [18]:
# Train the EasyEnsembleClassifier
from imblearn.ensemble import EasyEnsembleClassifier

ee_model = EasyEnsembleClassifier(n_estimators=100, random_state=1)

ee_model.fit(X_train, y_train)

EasyEnsembleClassifier(n_estimators=100, random_state=1)

In [20]:
# Calculated the balanced accuracy score
y_pred = ee_model.predict(X_test)
balanced_accuracy_score(y_test, y_pred)

0.925427358175101

In [21]:
# Display the confusion matrix
cm = confusion_matrix(y_test, y_pred)

In [23]:
# Print the imbalanced classification report
print(classification_report_imbalanced(y_test, y_pred))

                   pre       rec       spe        f1       geo       iba       sup

  high_risk       0.07      0.91      0.94      0.14      0.93      0.85        87
   low_risk       1.00      0.94      0.91      0.97      0.93      0.86     17118

avg / total       0.99      0.94      0.91      0.97      0.93      0.86     17205